 /* Styles pour la page de film */
 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

 @font-face {
    font-family: 'Amazon Ember';
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff")
}

 body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Fond noir pour la vidéo */
}

#film-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: -2;
    opacity: 1;
    transition: 1s ease-in-out;
}

#film-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajoutez d'autres styles pour la bannière ici */
}

#film-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*transition: 6s ease-in-out;*/
    opacity: 1;
}

.film-overlay {
    background: rgb(21,21,21);
background: linear-gradient(180deg, rgba(21,21,21,0) 0%, rgba(30,22,50,1) 77%);
    color: #fff;
    padding: 20px;
}

.film-title {
    margin: 0;
    max-width: 50%;
    font-size: 5vw;
    font-family: 'Amazon Ember', Courier, monospace;
    font-weight: 900;
    background-image: url(https://fls-eu.amazon.com/1/action-impressions/1/OP/aiv-web-player/action/HTML5Player:.XpJavaScriptDownloadTime.cloudfront@v=2040:u=ms?marketplace=roe_eu&marketplaceId=A3K6Y4MI8GDYMT&service=AIVWebPlayer&session=1630176321577832&requestId=5282049138009604);
    background-size: 0%;
}

.film-buttons {
    margin-top: 10px;
}

.play-button, .download-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.download-button {
    background-color: #000000;
    padding: 7px;
    border-radius: 50%;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

.download-button img {
    margin-right: 0px;
}

.play-button img {
    margin-right: 8px;
}

/* Centrer les images à gauche dans les boutons */
.film-buttons button img {
    display: inline-block;
    vertical-align: sub;
     /* Espacement entre l'image et le texte */
    width: 16px; /* Largeur souhaitée */
    height: 16px; /* Hauteur souhaitée */
}

/* Styliser l'icône d'horloge à côté de la durée */
.film-duration img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px; /* Espacement entre l'image et la durée */
    width: 11px; /* Largeur souhaitée */
    height: 11px; /* Hauteur souhaitée */
}


.play-button:hover {
    background-color: #eee;
    transform: scale(1.1);
}

.download-button:hover {
    background-color: #222222;
}

.film-description {
    font-size: initial;
    margin-top: 20px;
    max-width: 90%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.film-duration {
    font-size: 13px;
    margin-top: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
    transition: 1.2s ease-in-out;
    opacity: 0;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    rotate: 180deg;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.phone {
    width: fit-content;
    height: auto;
    outline-style: solid;
    outline-offset: 5px;
    outline-width: 2px;
    outline-color: #10c300;
    border-radius: 0.5vw;
    margin-bottom: 2vw;
    display: none;
}
.ordi {
    width: fit-content;
    outline-style: solid;
    outline-offset: 5px;
    outline-width: 2px;
    outline-color: #10c300;
    border-radius: 0.5vw;
    margin-bottom: 2vw;
}

@media screen and (max-width:480px) {
    .phone {
        display: block;
    }
    .ordi {
        display: none;
    }
}

#videoContainer {
    display: flex;
    justify-content: center;
    background: rgb(30,22,50);
    background: linear-gradient(223deg, rgba(30,22,50,1) 75%, rgba(86,58,2,1) 100%);
    padding: 26px;
    flex-direction: column-reverse;
    align-items: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

#overlay.active {
    opacity: 1;
}

.hidden {
    display: none;
}
@media screen and (max-width:480px) {
    #film-banner {
        height: 78vh;
    }
    .film-title {
        max-width: 45%;
    }
}