.text {
    padding: 1vw;
    width: 38%;
}
.TextHow {
    color: #fff;
    font-size: initial;
    margin-top: 20px;
    max-width: 90%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}
